<footer class="footer">
    <div class="footer-container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="{{ url_for('index') }}" class="logo-container">
                <h1>UQAC</h1>
                <span>SSS</span>
            </a>
        </div>

        <!-- Navigation Links -->
        <ul class="footer-links">
            <li><a href="#">Products</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Digital Kit</a></li>
        </ul>

        <!-- Social Media Icons -->
        <div class="footer-socials">
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <a href="https://sports.uqac.ca/" target="_blank" class="footer-copyright">
        Made by Team Smart System for Sport 2024. Copyright © - UQACsss
    </a>

</footer>