<header>
        <a href="{{url_for('index')}}" class="logo-container">
          <h1>UQAC</h1>
          <span>SSS</span>
        </a>
        <div class="menu">
          <svg xmlns="http://www.w3.org/2000/svg" id="svg" width="40" height="40" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16" style="border: 1px solid black;border-radius: 5px;">
            <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
          </svg>
          <ul class="header-list">
            <li><a href="{{url_for('index')}}" class="active">Home</a></li>
            <li><a href="/index#information_container">Information </a></li>
            <li class="model"><a href="{{url_for('Video_Analysis')}}">Models</a>
              <ul class="drop-down">
                <li><a href="{{url_for('Video_Analysis')}}">Video Analysis</a></li>
                <li><a href="/index#details_video">Model Details</a></li>
              </ul>
            </li>
            <span></span>
          </ul>
        </div>
    
    
        <div class="login">
    <div class="dropdown">
        <a class="user dropdown-toggle" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-fill"></i> {{ user_name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="{{ url_for('profile') }}">
                <i class="bi bi-gear"></i> Settings
            </a>
            <a class="dropdown-item" href="{{ url_for('logout') }}">
                <i class="bi bi-box-arrow-right"></i> Logout
            </a>
        </div>
    </div>
</div>



    
    </header> 