
    {% include 'header.html' %}  <!-- Inclusion du header -->

    <div class="container">
        <div class="center_home_mi clearfix">
        <h1 class="texte_cover_color">Voyez ce que les autres ne voient pas <br> Rejouez, analysez, gagnez !</h1>
      </div>

        <h1 class="texte_cover_color">Video Analysis</h1>
        <form id="analysisForm" onsubmit="submitForm(event)" enctype="multipart/form-data">
            <div class="form-data">
                <div class="container-team">
                    <div class="team1">
                        <table>
                            <tr>
                                <td> <label for="text1" class="form-label">Team Home Name</label></td>
                                <td><input type="text" id="text1" name="text1" class="form-input"></td>
                            </tr>

                        </table>
                    </div>
                    <div class="teamvs">
                        <img src="../static/imgs/VS.png" alt="" srcset=""
                            style="height: 100px; width: 60px; margin-left: 10px;">
                    </div>
                    <div class="team2">
                        <table>
                            <tr>
                                <td><input type="text" id="text2" name="text2" class="form-input"></td>
                                <td> <label for="text2" class="form-label">Team Away Name</label></td>

                            </tr>

                        </table>
                    </div>
                </div>
            </div>

            <div class="video_area">
                <label for="input-file" id="drop-area" tabindex="0">
                    <input type="file" accept="video/mp4" class="uploadBtnP" hidden id="input-file" name="input-file"
                        onchange="previewVideo()" required>
                    <div id="video-view">
                        <img src="../static/imgs/dowload.jpeg" alt="" srcset="">
                        <p>Drag and drop or Click here <br>to upload video</p>
                        <span>Upload any video from desktop</span>
                    </div>
                    <div class="video-view">
                        <video id="video-preview" controls>
                            Your browser does not support video playback.
                        </video>
                    </div>
                    <label for="input-file" class="uploadLabel" id="uploadLabel">Upload another video
                    </label>

                </label>

            </div>

            <!-- div class="form-data">
                <div class="container-team">
                    <div class="team1">
                        <table>
                            <tr>
                                <td> <label for="color-picker" class="label"> Team Home Player Color:</label></td>

                                <td> <input type="color" id="color-picker" name="color-picker"
                                        style="height: 20px; width: 20px; border-radius: 50%; border: none;" required>
                                    <canvas id="canvas" width="40" height="40"></canvas>
                                </td>
                            </tr>
                            <tr>
                                <td> <label for="color-picker3" class="label"> Team Home Goal Keeper Color:</label></td>
                                <td> <input type="color" id="color-picker3" name="color-picker3"
                                        style="height: 20px; width: 20px; border-radius: 50%; border: none;" required>
                                    <canvas id="canvas3" width="40" height="40"></canvas>
                                </td>

                            </tr>

                        </table>
                    </div>
                    <div class="teamvs">
                        <img src="../static/imgs/VS.png" alt="" srcset=""
                            style="height: 100px; width: 60px; margin-left: 10px;">
                    </div>
                    <div class="team2">
                        <table>
                            <tr>
                                <td>
                                    <canvas id="canvas1" width="40" height="35"></canvas>
                                    <input type="color" id="color-picker1" name="color-picker1"
                                        style="height: 20px; width: 20px; border-radius: 50%; border: none;" required>

                                </td>
                                <td><label for="color-picker1" class="label"> Team Away Player Color:</label></td>


                            </tr>

                            <tr>
                                <td>
                                    <canvas id="canvas4" width="40" height="40"></canvas>
                                    <input type="color" id="color-picker4" name="color-picker4"
                                        style="height: 20px; width: 20px; border-radius: 50%; border: none;" required>

                                </td>
                                <td><label for="color-picker4" class="label"> Team Away Goal Keeper Color:</label>
                                </td>


                            </tr>

                        </table>
                    </div>

                </div>
            </div-->
            <!--div class="container_Threshold">
                <div class="row">
                    <div class="col">
                        <h3>Players Detection</h3>
                        <div class="attributes-for-col3">

                            <div class="Attribute">
                                <label for="range">Players Detection Confidence Threshold:
                                </label>
                                <div class="range-value">
                                    <span id="Players_detection" class="value">60</span><span class="value">%</span>
                                </div>
                                <input type="range" class="form-range" id="range" name="range" min="0" max="100" value="60"
                                    onInput="$('#Players_detection').html($(this).val())" />
                            </div>
                            <div class="Attribute">
                                <label for="range1"> Number of palette colors:

                                </label>
                                <div class="range-value">
                                    <span id="Number_palette" class="value">3</span>
                                </div>
                                <input type="range" class="form-range" id="range1" name="range1" min="1" max="5" value="3"
                                    onInput="$('#Number_palette').html($(this).val())" />
                            </div>

                            <div class="Attribute">
                                <label for="range2" class="form-label">Field Keypoints Players Detection Confidence
                                    Threshold:</label>
                                <div class="range-value">
                                    <span id="Field_Keypoints" class="value">70</span><span class="value">%</span>
                                </div>
                                <input type="range" class="form-range" id="range2" name="range2" min="0" max="100" value="70"
                                    onInput="$('#Field_Keypoints').html($(this).val())" />
                            </div>

                            <div class="Attribute">
                                <label for="range3" class="form-label">Keypoints Displacement RMSE Tolerance
                                    (pixels):</label>
                                <div class="range-value">
                                    <span id="Keypoints" class="value">10</span>
                                </div>
                                <input type="range" class="form-range" id="range3" name="range3" min="3" max="30" value="10"
                                    onInput="$('#Keypoints').html($(this).val())" />
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <h3>Ball Tracking</h3>
                        <div class="attributes-for-col3">

                            <div class="ball">
                                <label for="adjustable-input">
                                    Ball track reset threshold (frames):
                                </label>
                                <span class="minus" onclick="decrementValue()">&minus;</span>
                                <input type="text" class="value_adjustable" id="adjustable-input"
                                    name="adjustable-input" value="10" min="0" max="100">
                                <span class="add" onclick="incrementValue()">&plus;</span>
                            </div>
                            <div class="ball">
                                <label for="adjustable-input1">
                                    Ball track distance threshold (pixels):
                                </label>
                                <span class="minus" onclick="decrementValue1()">&minus;</span>
                                <input type="text" class="value_adjustable" id="adjustable-input1"
                                    name="adjustable-input1" value="100" min="0" max="200">
                                <span class="add" onclick="incrementValue1()">&plus;</span>
                            </div>
                            <div class="ball">
                                <label for="adjustable-input2">
                                    Maximum ball track length (Nbr. detections):
                                </label>
                                <span class="minus" onclick="decrementValue2()">&minus;</span>
                                <input type="text" class="value_adjustable" id="adjustable-input2"
                                    name="adjustable-input2" value="35" min="0" max="100">
                                <span class="add" onclick="incrementValue2()">&plus;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div -->

            <!-- center>
                < More inputs and sliders >
                <div class="container_annotation">
                    <h1>Annotation options:</h1>
                    <div class="annotation">
                        <div class="option-container">
                            <label class="switch">
                                <input type="checkbox" name="show_color_palettes">
                                <span class="slider round"></span>
                            </label>
                            <span>Show Color Palettes</span>
                        </div>
                        <div class="option-container">
                            <label class="switch">
                                <input type="checkbox" name="show_player_detection">
                                <span class="slider round"></span>
                            </label>
                            <span>Show Player Detection</span>
                        </div>
                        <div class="option-container">
                            <label class="switch">
                                <input type="checkbox" name="show_ball_tracks">
                                <span class="slider round"></span>
                            </label>
                            <span>Show Ball Tracks</span>
                        </div>
                        <div class="option-container">
                            <label class="switch">
                                <input type="checkbox" name="show_keypoints_detections">
                                <span class="slider round"></span>
                            </label>
                            <span>Show Keypoints Detections</span>
                        </div>
                    </div>
                </div>
            </center -->
            <button type="submit" class="button">Analyse Video</button>

        </form>

    </div>

    <h1>Video Analysis per Frame</h1>
    <div id="videoContainer" style="display: none; padding-bottom: 45px;" class="videoContainer">
        <img src="{{url_for('analyse_video')}}" width="1500" height="800">
    </div>
    {% include 'footer.html' %}  <!-- Inclusion du footer -->

    <script>
        function submitForm(event) {
            event.preventDefault();  // Empêche la soumission normale du formulaire
            const form = document.getElementById('analysisForm');
            const formData = new FormData(form);

            fetch('/analyse_video', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        const videoContainer = document.getElementById('videoContainer');
                        videoContainer.innerHTML = '<img src="/video_feed" width="1500" height="800">';
                    } else {
                        console.error('Failed to load video feed');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>


    <script src="../static/js/video_analysis.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

        <script>
    function submitForm(event) {
        event.preventDefault();  // Empêche la soumission normale du formulaire
        const form = document.getElementById('analysisForm');
        const formData = new FormData(form);

        fetch('/analyse_video', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                const videoContainer = document.getElementById('videoContainer');
                videoContainer.style.display = 'block'; // Afficher la vidéo
                videoContainer.innerHTML = '<img src="/video_feed" width="1500" height="800">';
            } else {
                console.error('Failed to load video feed');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>


</body>